        body {

        font-family:"Montserrat", sans-serif;
        
        }

        h1, h2, h3, h4, h5, h6 {
        font-family: 'LT Afficher Neue', sans-serif;
        }

        input[type=checkbox] {
        transform: scale(1.5);
        }

        input[type="month"]::-webkit-calendar-picker-indicator {
        filter: invert(100%) hue-rotate(180deg); /* Example: Invert colors and rotate hue */
        }

        .dropdown-hover:hover .dropdown-content {
            display: block;
            position: absolute;
            margin-left: 2px;
            margin-top: 2px;
            z-index: 1;
            background-color: #6d6d6d;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #6d6d6d;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            width: 250px;
        }

        .button-view {
            color: white;
            padding: 10px 0px;
            font-size: 16px;
            border: none;
            cursor: pointer;
            width: 250px;
            margin-bottom: 10px;
        }
        .button-view:hover {
            background-color: #6d6d6d;
        }


        .sidebar {
            position: fixed;
            top: 120px;
            left: 0;
            height: 80%;
            width: 250px;
            background-color: #2f2f2f;
            padding-top: 2rem;
            display: flex;
            flex-direction: column;
            transition: margin-left 0.3s ease-in-out;
        }

        .sidebar a {
            display: block;
            padding: 14px 20px;
            font-weight: 500;
            color: #e5e7eb;
            text-decoration: none;
            transition: all 0.2s ease;
        }

        .sidebar a:hover,
        .sidebar a.active {
            background-color: #2f2f2f;
            color: #fff;
            border-left: 4px solid #fbbf24;
        }

        .sidebar-collapsed {
            margin-left: -250px;
        }

        #main-content {
            transition: margin-left .3s ease-in-out;
            padding: 16px;
            margin-left: 250px;
        }

        #main-content.main-content-collapsed {
            margin-left: 0;
        }

        @media screen and (max-height: 450px) {
            .sidebar {padding-top: 15px;}
            .sidebar a {font-size: 18px;}
        }
