* {box-sizing: border-box}

/* Style tab links */
.tablink {
  background-color: #818181;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #b7b7b7;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 50px 10px;
  height: 50%;
  width: 50%;
  margin: auto;
  overflow-y: auto;
}

#New {background-color: #eee;}
#Before {background-color: #eee;}
